html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin: 0 100px;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

.recipe-list {
    border: 5px solid black;
}

img {
    height: auto;
    width: 640px;
    border: 5px dotted green;
}

.steps, .ingredients, .description {
    border: 2px solid black;
    margin: 20px auto;
    padding-right: 10px;
    padding-left: 10px;
}

